@model PagedList.IPagedList<Model.Entity.Account>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Navbar {
    @{
        ViewBag.IsHome = false;
        ViewBag.IsContent = false;
        ViewBag.IsUser = true;
    }
}


@section jsFooter{
    <script src="~/Resourse/plugin/utils.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}

<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh sách bài viết</h4>
                <h6 class="card-subtitle my-2"><a href="#">Thêm bài viết mới</a></h6>
                @using (Html.BeginForm("Index", "User", FormMethod.Post))
                {
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="form-group">
                            <input type="text" class="form-control" id="myInput" value="@ViewBag.SearchString" name="searchString" />
                        </div>
                        <div class="form-group px-2">
                            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                        </div>

                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th>Tên</th>
                                <th>Username</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.Id" class="text-center">
                                    <td>@item.Name</td>
                                    <td>
                                        @item.Username
                                    </td>
                                    <td>
                                        <div class="text-truncate">@item.CreateAt.Value.ToString("dd-MM-yyyy")</div>
                                    </td>
                                    <td>
                                        <a href="#" class="btn-change-user-status text-decoration-none" data-id="@item.Id">
                                            @(item.Status ? "Đã kích hoạt" : "Chưa kích hoạt")
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/Admin/Content/Edit/@item.Id">Sửa</a>
                                        |
                                        [@Ajax.ActionLink("Xóa", "Delete", new { @id = item.Id }, new AjaxOptions
                                         {
                                         Confirm = "Bạn có muốn xóa?",
                                         OnComplete = "$('#row_" + item.Id + "').remove()",
                                         HttpMethod = "Delete"
                                         })]
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))

                </div>

            </div>
        </div>
    </div>
</div>

