﻿@model Model.Entity.Content
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Chi tiết: " + Model.Name;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Navbar {
    @{
        ViewBag.IsHome = false;
        ViewBag.IsContent = true;
        ViewBag.IsUser = false;
    }
}
@section jsFooter{
    <script>
    $(document).ready(function () {
        $('.btn-add-comment').on('click', function (e) {
            e.preventDefault();

            var contentId = $('#ContentId').val();
            var commentText = $('#CommentText').val();

            $.ajax({
                url: '@Url.Action("AddComment", "Content")',
                type: 'POST',
                data: {
                    ContentId: contentId,
                    CommentText: commentText
                },
                success: function (response) {
                    // Handle success here. For example, clear the form:
                    $('#CommentText').val('');
                    // Add the new comment to the top of the list:
                    $('#commentList').prepend('<span>' + commentText + '</span><p>' + response.commentTime + '</p>');
                },
                error: function () {
                    // Handle error here
                }
            });
        });
    });


        document.querySelectorAll('.reply-btn').forEach(function (button) {
            button.addEventListener('click', function () {
                const replyBox = this.nextElementSibling;
                replyBox.classList.toggle('hidden');
            });
        });

        document.querySelectorAll('.submit-reply-btn').forEach(function (button) {
            button.addEventListener('click', function () {
                const replyInput = this.previousElementSibling;
                const replyText = replyInput.value;
                replyInput.value = '';
                // Now you can use replyText to add a new comment to the comment list
                // This is just a basic example, you might want to create a new element and append it to the comment list
                console.log(replyText);
            });
        });
    </script>
}

<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>@Model.Name</h3>
        </div>

        <div class="clear"></div>
    </div>
    <div class="container">
        @Html.Raw(Model.Detail)

        @{
            var tags = (List<Model.Entity.Tag>)ViewBag.Tags;
            foreach (var tag in tags)
            {
                <a style="background-color: rgba(66, 103, 178, 0.6)" class="btn btn-sm" href="/tag/@tag.Id">@tag.Name</a>
            }
        }
        <form id="commentForm" class="mt-2">
            <input type="hidden" id="ContentId" value="@Model.Id" />
            <textarea class="form-control" id="CommentText"></textarea>
            <input class="btn btn-primary my-1 btn-add-comment" type="submit" value="Add Comment" />

        </form>
    </div>
    @*<div id="commentList" class="card">
                @{
                    var comments = (PagedList.IPagedList<Model.Entity.Comment>)ViewBag.Comments;
                    foreach (var cmt in comments)
                    {
                        <span>@cmt.Content</span>
                        <p>@cmt.CreateAt</p>
                    }


        }
            </div>*@
    @{
        var comments = (PagedList.IPagedList<Model.Entity.Comment>)ViewBag.Comments;
        <div class="container mt-5">
            <div class="list-group">
                <div class="list-group-item" id="commentList">
                    @foreach (var cmt in comments)
                    {
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Commenter Name</h5>
                            <small>@cmt.CreateAt </small>
                        </div>
                        <p class="mb-1">@cmt.Content.</p>
                        <button class="btn btn-primary reply-btn">Reply</button>
                        <div class="input-group mt-3 reply-box hidden">
                            <textarea class="form-control reply-input" placeholder="Write a reply..."></textarea>
                            <button class="btn btn-outline-secondary submit-reply-btn" type="button">Submit</button>
                        </div>
                    }

                </div>
                <!-- More comments can be added here -->
            </div>
        </div>
    }
    <style>
        .hidden {
            display: none;
        }
    </style>
</div>

