﻿@model PagedList.IPagedList<Model.Entity.Content>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Navbar {
    @{
        ViewBag.IsHome = false;
        ViewBag.IsContent = true;
        ViewBag.IsUser = false;
        ViewBag.IsCategory = false;
    }
}

@section jsFooter{
    <script src="~/Resourse/plugin/utils.js"></script>
}

<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh sách bài viết</h4>
                <h6 class="card-subtitle my-2"><a href="@Url.Action("Create", "Content")">Thêm bài viết mới</a></h6>
                @using (Html.BeginForm("Index", "Content", FormMethod.Post))
                {
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="form-group">
                            <input type="text" class="form-control" id="myInput" value="@ViewBag.SearchString" name="searchString" />
                        </div>
                        <div class="form-group px-2">
                            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                        </div>

                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th>Auths</th>
                                <th>Tiêu đề</th>
                                <th>Ngày đăng</th>
                                <th>Trạng thái</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (var item in Model)
                            {
                                <tr id="rowContent_@item.Id" class="text-center">
                                    <td>@item.CreateBy</td>
                                    <td>
                                        <div><a href="/chi-tiet-@item.MetaTitle-@item.Id" target="_blank">@item.Name</a></div>
                                    </td>
                                    <td>
                                        <div>@item.CreateAt.Value.ToString("dd MMMM yyyy")</div>
                                    </td>
                                    <td>
                                        <a href="#" class="@(item.Status ? "badge badge-success" : "badge badge-danger") btn-change-content-status text-decoration-none" data-id="@item.Id">
                                            @(item.Status ? "Đã kích hoạt" : "Chưa kích hoạt")
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/Admin/Content/Edit/@item.Id" class="text-center badge badge-primary">
                                            <i class="fas fa-pen-square p-1"></i>
                                        </a>

                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.Id }, new AjaxOptions
                                    {
                                        Confirm = "Bạn có muốn xóa?",
                                        OnComplete = "$('#rowContent_" + item.Id + "').remove()",
                                        HttpMethod = "Delete",
                                    }, new { @class = "delete-link badge badge-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))

                </div>

            </div>
        </div>
    </div>
</div>

