@model IPagedList<Model.Entity.Category>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Navbar {
    @{
        ViewBag.IsHome = false;
        ViewBag.IsContent = false;
        ViewBag.IsUser = false;
        ViewBag.IsCategory = true;
    }
}
@section jsFooter{
    <script src="~/Resourse/plugin/utils.js"></script>
}

<div class="row" id="simple-tabpanel-0">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh sách danh mục</h4>
                <h6 class="card-subtitle my-2"><a href="@Url.Action("Create", "Category")">Thêm danh mục mới</a></h6>
                @using (Html.BeginForm("Index", "Category", FormMethod.Post))
                {
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="form-group">
                            <input type="text" class="form-control" id="myInput" value="@ViewBag.SearchString" name="searchString" />
                        </div>
                        <div class="form-group px-2">
                            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                        </div>

                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th>Số thứ tự</th>
                                <th>Tên</th>
                                <th>Meta Title</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (var item in Model)
                            {
                                <tr id="cateRow_@item.Id" class="text-center">
                                    <td>@item.DisplayOrder</td>
                                    <td>@item.Name</td>
                                    <td>@item.MetaTitle</td>
                                    <td>
                                        <div class="text-date" data-date="@item.CreateAt.Value.ToString("o")"></div>
                                    </td>
                                    <td>
                                        @Ajax.ActionLink("Ẩn danh mục", "ActiveCategory", new { @id = item.Id }, new AjaxOptions
                                        {

                                            OnComplete = "$('#cateRow_" + item.Id + "').remove()",
                                            HttpMethod = "Delete",
                                        }, new { @class = "accept-link badge badge-danger" })
                                    </td>
                                    <td>
                                        <a href="/Admin/Category/Edit/@item.Id" class="text-center badge badge-primary">
                                            <i class="fas fa-pen-square p-1"></i>
                                        </a>

                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.Id }, new AjaxOptions
                                           {
                                               Confirm = "Bạn có muốn xóa?",
                                               OnComplete = "$('#cateRow_" + item.Id + "').remove()",
                                               HttpMethod = "Delete"
                                           }, new { @class = "delete-link badge badge-danger" })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))

                </div>

            </div>
        </div>
    </div>
</div>


