<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="MrKatsu Blog">
    <meta name="keywords" content="MrKatsu, gatapchoi, gavl">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="~/ico.ico" type="image/x-icon">
    <title>MrKatsu | @ViewBag.Title </title>

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Resourse/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Resourse/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Resourse/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Resourse/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Resourse/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Resourse/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Resourse/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Resourse/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/Resourse/css/m-style.css">
    <link href="~/Assets/css/code-rum-style.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <!--Phần navbar trên điện thoại-->
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="@Url.Action("Index","Home")"><img src="~/Resourse/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price"><span>Login</span></div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="@Url.Action("Index","Home")"> Trang chủ </a></li>
                <li><a href="/danh-sach-bai-viet"> Blogs </a></li>               
                <li><a href="./manga-list.html"> Liên hệ </a></li>
                <li><a href="./contact.html"> Ứng dụng </a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!--Kết thúc navbar trên điện thoại-->
    <!-- Navbar trên màn hình PC -->
    <header class="header ">
        <div class="container nav-bar-style">
            <div class="row mx-3">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="@Url.Action("Index","Home")"><img src="~/Resourse/img/logo.png" style="width: 150px" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu text-center">
                        <ul>
                            <li class="active"><a href="/"> Trang chủ </a></li>
                            <li><a href="/danh-sach-bai-viet"> Blog </a></li>
                            <li>
                                <a href="./manga-list.html"> Liên hệ </a>
                            </li>
                            <li>
                                <a href="./contact.html"> Ứng dụng </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price"><span><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Kết thúc Navbar trên màn hình PC -->

    @RenderBody()



    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script>
                                All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                    aria-hidden="true"></i> by <a href="https://github.com/Mrk4tsu" target="_blank">MrKatsu</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Resourse/js/jquery-3.3.1.min.js"></script>
    <script src="~/Resourse/js/bootstrap.min.js"></script>
    <script src="~/Resourse/js/jquery.nice-select.min.js"></script>
    <script src="~/Resourse/js/jquery-ui.min.js"></script>
    <script src="~/Resourse/js/jquery.slicknav.js"></script>
    <script src="~/Resourse/js/mixitup.min.js"></script>
    <script src="~/Resourse/js/owl.carousel.min.js"></script>
    <script src="~/Resourse/js/main.js"></script>


</body>

</html>
