@model Model.Entity.Content
@using PagedList.Mvc;
@{
    ViewBag.Title = "Chi tiết: " + Model.Name;
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";

    var user = new Model.DAO.AccountDAO().GetByUsername(Model.CreateBy);
    var session = (UserLogin)Session[Common.CommonConstants.USER_SESSION];
    var count = new Model.DAO.ContentDAO().GetCommentCountByContentId(Model.Id);

    ViewBag.URL = $"/chi-tiet-{Model.MetaTitle}-{Model.Id}";
    ViewBag.Image = Model.Image;
    ViewBag.Description = Model.Name;
}

@section Nav {
    @{
        ViewBag.IsHome = false;
        ViewBag.IsBlog = true;
    }
}

@section styles{
    <link href="~/Resourse/client/css/tooltip.css" rel="stylesheet" />
    <link href="~/Resourse/client/dist/ekko-lightbox.css" rel="stylesheet" />
    <link href="~/Resourse/client/plugin/styles/hybrid.css" rel="stylesheet" />
}

<section class="container position-relative">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 col-12">
            @using (Html.BeginForm("Index", "Blog", FormMethod.Get))
            {
                <div class="input-group mb-3 my-2">
                    <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control text-light input-search p-4"
                           placeholder="Nhập để tìm kiếm...">
                    <div class="input-group-append">
                        <button class="btn bg-gradient-success" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            }
        </div>
    </div>

</section>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <!--        Tiêu đề-->
            <h3 class="font-weight-bold text-info my-3"> @Model.Name </h3>
            <!--       Nội dung-->
            <div class="content-blog py-3">
                <div class="px-3 tooltip-info-group">

                    <span class="badge badge-dark px-2 rounded-e-20"> @Model.CreateAt.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("vi-VN")) </span>
                    <div class="tooltip-group">
                        <div class='field'>
                            <span class="text-light"> Đăng bởi </span><a href="@Url.Action("Detail", "Account", new { id = user.Id, name = user.Name })" class='has-tooltip'> @user.Name </a>
                            <span class='tooltip og shadow-light'>
                                <h4>@user.Name</h4>
                                <p class="small">Tham gia từ @user.CreateAt.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("vi-VN"))</p>
                                <img src="@user.Avatar" alt="" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="@Model.Image" class="img-fluid">
                </div>

                <div class="content-detail">
                    @Html.Raw(Model.Detail)

                    <hr class="p-0">

                    <!--Thẻ tag-->
                    <div class="mt-3 px-3">
                        <span class="text-light ">Tags:</span>
                        <div class="sidebar__item mt-2">
                            @{
                                var _tags = (List<Model.Entity.Tag>)ViewBag.Tags;
                                foreach (var tag in _tags)
                                {

                                    <div class="sidebar__item__size">
                                        <label for="large">
                                            <a class="text-light" href="/tag-@tag.Id">
                                                @tag.Name
                                            </a>
                                            <input type="radio" id="large">
                                        </label>
                                    </div>


                                }
                            }
                        </div>
                    </div>
                </div>


            </div>
            @if (Session[Common.CommonConstants.USER_SESSION] == null)
            {
                <!--                Bình luận-->
                <section class="mt-3 section-null">
                    <p class="p-2 mx-2">
                        <i class="fa fa-info bg-gradient-warning rounded-circle"></i>
                        <a href="#" class="login-link">Đăng nhập</a> hoặc
                        <a href="/dang-ky" target="_blank" class="text-info">đăng ký tài khoản</a>
                        để bình luận
                    </p>
                </section>
            }
            else
            {
                <div class="container comment-group my-3 py-3">
                    <div class="form-group">
                        <label for="comment" class="h5 text-light font-weight-bold">
                            <i class="fa fa-comment bg-gradient-violet p-2 rounded-circle"></i> Để lại bình luận
                        </label>
                        <p>Comment text</p>
                        <textarea class="form-control form-comment p-3 text-light" id="comment" rows="2" required></textarea>
                    </div>
                    <button id="comment-button" type="submit" class="btn bg-gradient-success rounded-e-20 shadow-light text-light" data-content-id="@Model.Id">
                        Bình luận
                    </button>

                </div>
            }



            <section class="comment-list p-2 mb-4">
                <div class="d-flex w-100 justify-content-between align-items-center my-1">
                    <div class="h5 text-light font-weight-bold mt-2">
                        <i class="fa fa-comment bg-gradient-primary p-2 rounded-circle"></i> @count bình luận
                    </div>
                    <div>
                        <a href="#comment-ico"
                           class="text-light shadow-light bg-gradient-success px-3 py-2 rounded-e-10">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>

                </div>

                <div class="list-comment-recent" id="list-cmt">
                    @{
                        var comments = (PagedList.IPagedList<Model.Entity.Comment>)ViewBag.Comments;

                        foreach (var cmt in comments)
                        {
                            var userCmt = new Model.DAO.AccountDAO().GetByUsername(cmt.CreateBy);
                            <div class="row-comment mt-1 position-relative comment_@cmt.Id">
                                <div class=" dropdown position-absolute" style="top: 15px; right:20px;">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-ellipsis-h  text-light"></i>
                                    </a>
                                    @if (session != null && session.UserName == cmt.CreateBy)
                                    {
                                        <div class="dropdown-menu dropdown__header__cus shadow mr-5">
                                            <a class="dropdown-item" href="#"> Sửa </a>
                                            <a class="dropdown-item" href="#list-cmt" onclick="deleteComment(@cmt.Id)"> Xóa </a>
                                        </div>
                                    }
                                </div>


                                <div class="row mx-2">

                                    <img class="mr-2" src="@userCmt.Avatar" alt="">

                                    <div class="comment-list-top ">
                                        <span class="h6 font-weight-bold">
                                            <a href="@Url.Action("Detail", "Account", new { id = userCmt.Id, name = userCmt.Name })" class="text-info"> @userCmt.Name </a>
                                        </span>


                                        <br>
                                        @if (user.Username == cmt.CreateBy)
                                        {
                                            <p class="badge badge-success mr-2"> Author </p>
                                        }
                                        else
                                        {
                                            <p class="badge badge-secondary mr-2"> Visitor </p>
                                        }
                                        <span class="small text-secondary text-date" data-date="@cmt.CreateAt.Value.ToString("o")"></span>
                                    </div>

                                </div>
                                <div class="comment-list-body mx-4">
                                    <span class="text-light ">@cmt.Content</span>
                                </div>
                                <div class="comment-list-footer p-2">
                                    <div class="d-flex justify-content-between w-100">
                                        @if (Session[Common.CommonConstants.USER_SESSION] != null)
                                        {
                                            <a href="#" class="ml-3" data-toggle="collapse" data-target="#reply_@cmt.Id">
                                                <i class="fa fa-reply" aria-hidden="true"></i>
                                                <span>Reply</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#" class="ml-3" data-toggle="modal" data-target="#messageModal">
                                                <i class="fa fa-reply" aria-hidden="true"></i>
                                                <span>Reply</span>
                                            </a>
                                        }
                                    </div>
                                    <div>
                                        <a href="#" class="mx-2" data-toggle="tooltip" title="Báo xấu!">
                                            <i class="fa fa-flag" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            if (Session[Common.CommonConstants.USER_SESSION] != null)
                            {
                                <div id="reply_@cmt.Id" class="reply-group collapse">
                                    <img class="rounded-circle mx-2" src="@session.Avatar" style="width: 45px; height: 100%">
                                    <input type="text" class="form-control form-comment p-3 text-light" id="comment-reply">
                                </div>
                            }

                        }
                    }
                </div>
                @Html.PagedListPager(comments, page => Url.Action("Detail", new { page, id = Model.Id }),
                new PagedListRenderOptions
                {
                    Display = PagedListDisplayMode.IfNeeded,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                    DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                    MaximumPageNumbersToDisplay = 0,
                    DisplayLinkToIndividualPages = false,
                    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                    DisplayLinkToLastPage = PagedListDisplayMode.Never,
                    EllipsesFormat = null,
                    LinkToNextPageFormat = "Cũ hơn",
                    LinkToPreviousPageFormat = "Mới hơn",
                    ContainerDivClasses = new[] { "pagination-container pagination-comment" } // Add a class for AJAX to target
                })
                <style>
                    .pagination li.PagedList-skipToNext a {
                        text-align: center !important;
                    }
                </style>

            </section>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 ">
            ádsad
        </div>
    </div>
</div>
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-login">
            <div class="modal-body">
                <h5 class="modal-title" id="messageModalLabel">Thông báo!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>

                <div id="messageModalBody" class="text-light mt-2">
                    Vui lòng đăng nhập tài khoản!
                </div>

            </div>

        </div>
    </div>
</div>
@section jsFooter{
    <script src="~/Resourse/plugin/utils.js"></script>
    <script src="~/Resourse/client/dist/ekko-lightbox.js"></script>
    <script src="~/Resourse/client/plugin/highlight.min.js"></script>
    <script src="~/Resourse/client/js/blogcontroller.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        $(document).ready(function () {
            $('.login-link').on('click', function (e) {
                $('#modalLogin').modal('show');
            })
        });
    </script>
}