@model IEnumerable<Model.Entity.Content>

@{
    var tag = (Model.Entity.Tag)ViewBag.Tag;

    ViewBag.Title = "Tag: " + tag.Name;
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

@section Nav {
    @{
        ViewBag.IsHome = false;
        ViewBag.IsBlog = true;
    }
}

@section styles{
    <link href="~/Resourse/publics/css/tooltip.css" rel="stylesheet" />
}

<div class="container bootstrap snippets bootdey">
    <div class="row">
        <h4 class="text-light">
            <span class="text-secondary"> Tag: </span> <span class="badge bg-gradient-violet rounded-e-40"><i class="fa fa-hashtag" aria-hidden="true"></i> @tag.Name</span>
        </h4>
        <hr>
    </div>
    <div class="row">
        <!-- posts -->
        <div class="col-md-8">
            @foreach (var item in Model)
            {
                var user = new Model.DAO.AccountDAO().GetByUsername(item.CreateBy);
                <div class="panel blog-container ">
                    <div class="panel-body my-4 shadow-light rounded-e-20">
                        <div class="image-wrapper " style="background-image: url('@item.Image')">
                        </div>
                        <div class="p-3">
                            <h5 class="mb-1 font-weight-bold"><a href="/chi-tiet-@item.MetaTitle-@item.Id">@item.Name </a></h5>
                            <div class="tooltip-group">
                                <div class='field'>
                                    <span class="text-light small"> Tải lên @item.CreateAt.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("vi-VN")) | Bởi </span><a href="profile.html" class='has-tooltip small'> @user.Name </a>
                                    <span class='tooltip og shadow-light'>
                                        <h4> @user.Name </h4>
                                        <p class="small">Tham gia từ @user.CreateAt.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("vi-VN"))  </p>
                                        <img src="@user.Avatar" alt="" />
                                    </span>
                                </div>
                            </div>
                            <p>
                                @item.Description
                            </p>
                            <div class="d-flex w-100 justify-content-between">
                                <a href="/chi-tiet-@item.MetaTitle-@item.Id"> Đọc tiếp... </a>
                                <div class="stats">
                                    <a href="javascript:void(0);" class="stat-item text-light">
                                        <i class="fa fa-eye" aria-hidden="true"></i> @item.ViewCount
                                    </a>
                                    <a href="javascript:void(0);" class="stat-item text-light">
                                        <i class="fa fa-comment" aria-hidden="true"></i> 128
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
            <div class="my-4">
                @if (ViewBag.TotalPage > 1)
                {
                    var pageDisplay = (int)ViewBag.MaxPage;
                    int totalPage = (int)ViewBag.TotalPage;
                    int currentPage = ((int)ViewBag.Page);

                    // Create numeric links
                    var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                    var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                    var link = "/tag-" + tag.Id;

                    <div class="pagination-container tag-pagination">
                        <ul class="pagination">
                            <li class="PagedList-skipToPrevious">
                                <a href="@link?page=@ViewBag.First" rel="prev">
                                    <i class="fa fa-arrow-left"
                                       aria-hidden="true"></i>
                                </a>
                            </li>

                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                            {
                                if (currentPage == i)
                                {
                                    <li class="active"><a href="@link?page=@i">@i</a></li>

                                }
                                else
                                {
                                    <li><a href="@link?page=@i">@i</a></li>
                                }                               
                            }

                            <li class="PagedList-skipToNext">
                                <a href="@link?page=@ViewBag.Last" rel="next">
                                    <i class="fa fa-arrow-right"
                                       aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                }
            </div>

        </div>

        <div class="col-md-4">
            <h4 class="headline text-muted">
                POPULAR POST
                <span class="line"></span>
            </h4>
        </div>
    </div>
</div>

