@model Model.ViewModel.UserContentViewModel

@{
    ViewBag.Title = Model.Account.Name;
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

@section Nav {
    @{
        ViewBag.IsHome = false;
        ViewBag.IsBlog = false;
    }
}
@section styles{
    <link href="~/Resourse/client/css/profile.css" rel="stylesheet" />
    <link href="~/Resourse/client/dist/ekko-lightbox.css" rel="stylesheet" />
}
@section jsFooter{
    <script src="~/Resourse/client/dist/ekko-lightbox.js"></script>
}
<div class="container mt-4">
    <div class="row d-flex justify-content-center text-light">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-white profile-widget rounded-e-20">
                <div class="row">

                    <!-- Avatar -->
                    <div class="col-sm-12">
                        <div class="image-container bg2 rounded-e-20" style="background: url(../../Resourse/client/img/demo/background.jpg)">
                            <a href="@Model.Account.Avatar" data-toggle="lightbox">
                                <img src="@Model.Account.Avatar" class="avatar" alt="avatar">
                            </a>
                        </div>
                    </div>

                    <!-- Danh sách ba viết-->
                    <div class="col-sm-12">
                        <div class="details">
                            <h4 class="text-info"> @Model.Account.Name <i class="fa fa-check-circle"></i></h4>

                            <div class="mg-top-10">
                                <a href="#" class="btn btn-rounded"> <i class="fa fa-rss text-light" aria-hidden="true"></i> Theo dõi </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                @if (ViewBag.CountBlog < 1)
                {
                    <section class="col-sm-12">
                        <div class="mt-3 text-center section-null">
                            <p class="p-2 mx-2">
                                <i id="ico-info" class="fa fa-exclamation px-3" aria-hidden="true"></i>
                                <a href="#" class="text-info"> @Model.Account.Name </a>
                                chưa có bài đăng nào!
                        </div>

                    </section>
                }
                <div class="col-sm-12">
                    @foreach (var item in Model.Contents)
                    {
                        <div class="panel panel-white post rounded-e-20">
                            <div class="post-heading">
                                <div class="pull-left image">
                                    <img src="@Model.Account.Avatar" class="rounded-circle avatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h6">
                                        <a class="text-info" href="@Url.Action("Detail", "Account", new {name = Model.Account.Name, id = Model.Account.Id})"><b> @Model.Account.Name </b> <i class="fa fa-check-circle"></i></a>
                                        đã tải lên một bài viết.
                                    </div>
                                    <h6 class="text-muted time small"> @item.CreateAt.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("vi-VN")) </h6>
                                </div>
                            </div>
                            <div class="post-image">
                                <img src=""><img src="@item.Image" class="image" alt="image post">
                            </div>
                            <div class="post-description">
                                <a href="/chi-tiet-@item.MetaTitle-@item.Id"><h4 class="text-info"> @item.Name </h4></a>
                                <p> @item.Description </p>
                                <div class="stats">
                                    <a href="javascript:void(0);" class="stat-item text-light">
                                        <i class="fa fa-thumbs-up icon"></i>228
                                    </a>
                                    <a href="javascript:void(0);" class="stat-item text-light">
                                        <i class="fa fa-share icon"></i>128
                                    </a>
                                </div>
                            </div>
                            <div class="post-footer">

                                <ul class="comments-list">
                                    @{
                                        var comments = (PagedList.IPagedList<Model.Entity.Comment>)ViewBag.Comments;
                                        foreach (var cmt in comments)
                                        {
                                            {
                                                var user = new Model.DAO.AccountDAO().GetByUsername(cmt.CreateBy);

                                                <li class="comment">
                                                    <a class="pull-left" href="javascript:void(0);">
                                                        <img class="avatar rounded-circle" src="@user.Avatar" alt="avatar">
                                                    </a>
                                                    <div class="comment-body">
                                                        <div class="comment-heading">
                                                            <h4 class="user"> @user.Name </h4>
                                                            <h5 class="time">@cmt.CreateAt.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("vi-VN"))</h5>
                                                        </div>
                                                        <p class="text-light"> @cmt.Content </p>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    }

                </div>

            </div>

        </div>

    </div>
</div>

